@import "tailwindcss";

:root {
  --color-text: #4B4B4B;
  --color-active: #00FFFF;
  --color-footer-bg: #007D7D80;
  --color-btn-normal: #00000080;
}

@theme inline {
  --font-bai-jamjuree: var(--font-bai-jamjuree);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-bai-jamjuree), sans-serif;
  background: #111;
}
